* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

.App {
  text-align: center;
  color: #1e1e1e;
  position: relative;
  height: 100vh;
}

.App-main {
  position: absolute;
  top: 2%;
  left: 25%;
  padding-right: 2%;
}
